/* body
{
    width: 600px;
    margin: auto;
    padding: 20px;
    font-size: 20px;
    background-attachment: fixed;
    font-family: Robot, Arial, sans-serif;
} */

#game_container
{
    margin: auto;
    width: fit-content;
    block-size: fit-content;
    padding: 0px;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: black;
    color: whitesmoke;
}

#return_link {
    display: none;
    color: white;
    float: left;
    width: 33.3333%;
    font-size: 36px;
    padding-left: 40px;
}

#results_button {
    background-color: black;
    border: none;
    color: white;
    width: 33.3333%;
    display: none;
    float: center;
    font-size: 36px;
}

#horizontal_spacer {
    width: 33.3%;
    float: right;
}