#game_container
{
    margin: auto;
    width: fit-content;
    block-size: fit-content;
    padding: 0px;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: whitesmoke;
    font-family: "Open Sans", Helvetica, sans-serif;
}

h1 {
    text-align: center;
    margin: 50px;
}

table {
    margin-left: auto;
    margin-right: auto;
}

td {
    padding: 15px;
    padding-left: 60px;
    padding-right: 60px;
    font-size: 24px;
}

p {
    padding-left: 20px;
    padding-right: 20px;
}

h2 {
    padding-left: 20px;
    padding-right: 20px;
}

a:hover {
    color: white;
}

#login_logout {
    background-color: black;
    border: none;
    color: white;
    width: 10%;
    margin-top: 20px;
    text-align: right;
    float: right;
    font-size: 36px;
    padding-right: 40px;
}

#login_info {
    text-align: center;
}

#return_link {
    display: none;
    color: white;
    float: left;
    /* display: inline-block; */
    width: 33.3333%;
    font-size: 36px;
    padding-left: 40px;
}

#horizontal_spacer {
    width: 33.3333%;
    padding: 10px;
    float: left;
}

#results_button {
    display:block;
    text-align:center;
    font-size: 36px;
    color: white;
}

#profile_link {
    border: none;
    color: white;
    width: 30%;
    display: none;
    text-align: right;
    float: right;
    font-size: 36px;
    padding-right: 40px;
}

#login-container {
    display: flex; 
    align-items: center;
    justify-content: center;
    padding: 100px;
}

#username_form_div {
    text-align: center;
}

#username_form {
    display: inline-block;
    margin: auto;
    padding: 40px;
}

.link {
    color: white;
    font-size: 36px;
}

.index_links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.index_link {
    flex: 33.33%;
}

.top_left_link {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
}

.top_right_link {
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
}