/* body
{
    width: 600px;
    margin: auto;
    padding: 20px;
    font-size: 20px;
    background-attachment: fixed;
    font-family: Robot, Arial, sans-serif;
} */

.game_container
{
    margin: auto;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: black;
}