<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Alex's Blog: Terran Bio</title>
        <link rel="stylesheet" type = "text/css" href = "static/style.css" />
    </head>
    <body>
        <h1>
            Title blahblah
        </h1>
        <p class = "myunderlined">
            Testing
            Testingtesting
        </p>
        <p class = "myunderlined">
            thisi is underlined right
        </p>
        <p class = "content" id = "bigger">
            testtest
        </p>
        <p id="my-paragraph">
            this is my paragraph now.
        </p>
        <h3>header3</h3>

    </body>
</html>