<!DOCTYPE html>
<!-- modified from url=(0078)http://dl.dropbox.com/u/23340081/Multimedia/01Websites/11WhatIsCSSArticle.html -->

<html lang="en">

<head>

	<meta charset="utf-8" />
	<title>What is CSS?</title>

</head>

<body>

	<h1>What is CSS?</h1>
	
	<h2>What are Cascading Style Sheets?<br>
	By Jennifer Kyrnin, About.com Guide</h2>
	
	<p>CSS was first developed in 1997, as a way for Web developers to define the look and feel of their Web pages. It was intended to allow developers to separate content from design so that HTML could perform more of the function that it was originally based on - the markup of content, without worry about the design and layout.</p>
	<p>CSS didn't gain in popularity until around 2000, when Web browsers began using more than the basic font and color aspects of CSS. And ndropow, all modern browsers support all of CSS Level 1, most of CSS Level 2, and some aspects of CSS Level 3.</p>
	<p>Web Designers that don't use CSS for their design and development of Web sites are rapidly becoming a thing of the past. And it is arguably as important to understand CSS as it is to know HTML - and some would say it was more important to know CSS.</p>
	
	<h3>CSS is an Abbreviation</h3>
	
	<p>It stands for Cascading Style Sheet.</p>
	<p>Style sheet refers to the document itself. Style sheets have been used for document design for years. They are the technical specifications for a layout, whether print or online. Print designers use style sheets to insure that their designs are printed exactly to specifications. A style sheet for a Web page serves the same purpose, but with the added functionality of also telling the viewing engine (the Web browser) how to render the document being viewed.</p>
	<p>Cascade is the special part. A Web style sheet is intended to cascade through a series of style sheets, like a river over a waterfall. The water in the river hits all the rocks in the waterfall, but only the ones at the bottom affect exactly where the water will flow. The same is true of the cascade in Web style sheets.</p>
	<p>Every Web page is affected by at least one style sheet, even if the Web designer doesn't apply any styles. This style sheet is the user agent style sheet - the default styles that the Web browser will use to display a page if no other instructions are provided. But if the designer provides other instructions, the browser needs to know which instructions have precedence.</p>
	<p>For example, in my Web browser, the default font is "Times New Roman" size 16. But nearly no pages I visit display in that font family and size. This is because the cascade defines the second style sheets set by the designers to redefine the font size and family and override my Web browser's defaults.</p>
	
	<h3>Where is CSS Used?</h3>
	
	<p>CSS is used to style Web pages. But there is more to it than that. CSS is used to style XHTML and XML markup. This means that anywhere you have XML markup (including XHTML) you can use CSS to define how it will look.</p>
	<p>CSS is also used to define how Web pages should look when viewed in other media than a Web browser. For example, you can create a print style sheet that will define how the Web page should print out and another style sheet to display the Web page on a projector for a slide show.</p>
	
	<h3>Why is CSS Important?</h3>
	
	<p>CSS is one of the most powerful tools a Web designer can learn because with it you can affect the entire mood and tone of a Web site. Well written style sheets can be updated quickly and allow sites to change what is prioritized or valued without any changes to the underlying XHTML.</p>
	<p>The challenge of CSS is that there is so much to learn. But it doesn't seem like it. After all, there are only around 60 properties in CSS Level 1 and around 70 in CSS Level 2. Compared with the number of HTML tags and attributes to learn, that can feel like a cake walk.</p>
	<p>But because CSS can cascade, and combine and browsers interpret the directives differently, CSS is more difficult than plain HTML. But once you start using it, you'll see that harnessing the power of CSS will give you more options and allow you to do more and more things with your Web sites.</p>
	<p>If you want to be a professional Web designer, you need to learn Cascading Style Sheets. But luckily, they are fun to learn.</p>

 </body>
 
 </html>