<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Alex's Blog: Terran Bio</title>
    </head>
    <body>
        <!-- title -->
        <h1>Starcraft 2 Terran Bio</h1>

        <!-- introduction -->
        <div>
            <h2>Introduction</h2>
            <p>Starcraft 2 is a real-time strategy game.
                In such a genre of game, players mine resources, build armies, and attack each other in intense
                games that can last anywhere from 5 minutes to an hour, from start to finish.
                A <em>composition</em> in Starcraft is a collection of units that work well together and complement each other.
            </p>
            <p>
                According to Starcraft lore, there are three races competing for control of the galaxy.
                The Terrans are the humans, and one frequently seen composition is called <em>Terran bio.</em>
                Bio refers to the biological units of the Terran race, namely the marine and the marauder.
            </p>
        </div>
        
        <!-- units; meat of information -->
        <div>
            <h2>Units</h2>
            <p>Here are images of the marine and the marauder.</p>

            <!-- images together -->
            <p>
                <img src="https://static.wikia.nocookie.net/starcraft/images/7/7e/1._Marine_Default.jpg/" 
                    alt="Marine">
                <img src="static/marauder.jpg" alt="Marauder">
            </p>

            <p>The important things to know about the marine are:</p>

            <ul>
                <li>Cheap</li>
                <li>Ranged</li>
                <li>Small hit box</li>
                <li>Small HP pool</li>
                <li>Vulnerable to splash damage</li>
                <li>Attacks quickly, so affected very much by <em>upgrades</em></li>
            </ul>

            <p>The important things to know about the marauder are:</p>

            <ul>
                <li>Good deal more expensive than marine</li>
                <li>Ranged</li>
                <li>Bonus damage against armored</li>
                <li>Had large HP pool and medium hit box, so good for soaking up splash damage</li>
                <li>Doesn't attack as quickly as the marine</li>
            </ul>

            <p>Here are the exact stats of the marine and the marauder.</p>

            <table>
                <tr>
                    <th>Marine</th> 
                    <th>Marauder</th>
                </tr>
                <tr>
                    <td>Built from Barracks</td>
                    <td>Built from Barracks with Tech Lab</td>
                </tr>
                <tr>
                    <td>
                        50 Minerals
                    </td>
                    <td>
                        100 Minerals, 25 Vespene
                    </td>
                </tr>
                <tr>
                    <td>45 HP (+10)</td>
                    <td>125 HP</td>
                </tr>
                <tr>
                    <td>Light, Biological</td>
                    <td>Armored, Biological</td>
                </tr>
                <tr>
                    <td>Damage: 6 (+1)</td>
                    <td>Damage: 10 (+1), bonus +10 vs Armored</td>
                </tr>
                <tr>
                    <td>Attacks once every 0.61s (-0.2)</td>
                    <td>Attacks once every 1.07s (-0.36)</td>
                </tr>
            </table>
        </div>

        <!-- brief information about upgrades -->
        <h2>Upgrades and Upgrade Theory</h2>
        <div>
            <p>
                The Marine and Marauder benefit from important upgrades. 
                Combat Shield gives Marines an extra 10 HP, 
                and Stimpack gives biological units the ability to sacrifice some health
                for a temporary boost in movement speed and attack speed.
                There is one additional unit, the Medivac, that can heal Bio units, and that is included in the image at the bottom of the page.
            </p>

            <p>
                Upgrades are a very important part of Starcraft, and Terran bio in particular.
                The full list of Terran upgrades can be found <a href="https://liquipedia.net/starcraft2/Terran_Upgrades">here</a>.
            </p>

            <p>
                When an upgrade finishes, it applies to all of your standing units at the same time.
                This is very important; for Terran Bio, upgrades affect units even more, so Terran Bio 
                gets a massive power spike when upgrades finishes.
                Thus, Terran Bio build orders center around attacking
                exactly when some important upgrade finishes, such as Combat/Stim
                or +2/+2.
            </p>
        </div>

        <hr>

        <div>
            <h2>More Videos and Pictures</h2>
            <p><iframe src="https://www.youtube.com/embed/nqC8FZkEsz4" title="Bio Build Order"></iframe></p>
            <p><img src="https://www.scan.co.uk/images/homepages/progaming/guides_Starcraft-TerranBio.jpg" alt="Terran Bio army"></p>
        </div>
    </body>
</html>