{% extends "base.html.j2" %}

{% block title %}
    Cyberpunk Rhythm: Help and Credits
{% endblock %}

{% block body %}
<h1>
Help and Credits
</h1>

<h2>
Rules
</h2>

<p>
Use the four keyboard letters <em><b>a s d f</b></em> with your left hand, or <em><b>j k l ;</b></em> with your right hand, to activate the four targets. Activate the targets when tiles approach them, in sync with the music, to score points.

Press the space bar to start or to reload the page.
</p>

<div class="top_left_link">
    <a class="link" href="./">Back</a>
</div>

<h2>
Music Credits
</h2>

<p>
Created, designed, and tested by Alex Zhao, as a part of Lakeside Computer Science 4. Contact me via <a href="mailto:alexz24@lakesideschool.org">email</a>.
</p>

<br>

<p>Track: Max Brhon - Cyberpunk [NCS Release]</p>
<p>Music provided by NoCopyrightSounds.</p>
<p>Watch: https://youtu.be/iqoNoU-rm14</p>
<p>Free Download / Stream: http://ncs.io/Cyberpunk</p>

{% endblock %}