{% extends 'base.html.j2' %}

{% block title %}
    Title
{% endblock %}

{% block scripts %}
    <script src="static/utils.js"></script>
{% endblock %}

{% block body %}
    {% if not loggedIn %}
        <a id="login_logout" href="/login">Login</a>
    {% else %}
        <a id="login_logout" href="/logout">Logout</a>
    {% endif %}

    <div id="game_container"></div>

<div class="columns">
   <div class="column">
        <a id="return_link" href="./">Restart</a>
   </div>
   <div class="column">
        <a id="results_button" href="./leaderboard">Leaderboard</a>
  </div>
  <div class="column">
        <a id="profile_link" href="./profile">Profile</a>
  </div>
</div>

<script type="module" src="./static/canvas.js"></script>

{% if loggedIn %}
    <script>
        var profileLink = document.getElementById("profile_link");
        profileLink.style.display = 'block';
    </script>
{% endif %}
{% endblock %}