{% extends "base.html.j2" %}

{% block title %}
    Cyberpunk Rhythm: Leaderboard
{% endblock %}

{% block body %}
<h1>
Leaderboard
</h1>

<div class="top_left_link">
    <a class="link" href="./">Game</a>
</div>

<div class="top_right_link">
    <a class="link" href="./profile">Profile</a>
</div>

<p>
    {% if score != None %}
    Your score was {{score}}.
    {% endif %}

    {% if play_ordinal != None %}
    This was your {{play_ordinal}} playthrough!
    {% endif %}

    {% if not loggedIn %}
        Log in to save your scores and see past scores.
    {% endif %}
</p>

<table>
    {% for game in leaderboard %}
    <tr>
        <td>{{game[0]}}</td>
        <td>{{game[1]}}</td>
        <td>{{game[2]}}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}