{% extends "base.html.j2" %}

{% block title %}
    Log In
{% endblock %}

{% block scripts %}
    <script src="./static/login.js"></script>
    <script src="https://accounts.google.com/gsi/client" async defer></script>
{% endblock %}

{% block body %}

<div id="login_title">
    <h1>Log In</h1>
</div>
{% if not loggedIn %}
<p id="login_info"> Sign in with your Google Account to save your score and see past scores.</p>

<div id="login-container">
    <main>
        <div id="g_id_onload" 
        data-client_id="753064515997-khqc7lo9ucovnskefcr5n11c8njrb16e.apps.googleusercontent.com"
        data-login_uri="/oauth2"
        data-auto_prompt="false"
        data-callback="handleCredentialResponse"></div>
        <div class="g_id_signin" data-type="standard"></div>
    </main>
</div>
{% else %}
<p>You're logged in already! Your Profile page is <a href="./profile">here.</a></p>
{% endif %}
{% endblock %}