<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Hello World Page</title>
    </head>
    <body>
        <!-- comment-->
        <p>Hello World! paragraph</p>
        <ul>
            <li>Thing1</li>
            <li>Thing2</li>
            <li>And of course, Thing3</li>
        </ul>
        <p>Ordered lists, on the other hand:</p>
        <ol>
            <li>1</li>
            <li>2</li>
            <li>3</li>
        </ol>
        <br />
        <p>Trying again ?</p>
        <div><p>Section my_section</p></div>
        <p>Testing <span style="color:blue">blue</span> colors.</p>
        
        <p><a href="https://www.google.com/">Google</a></p>
        <p>testing</p>testing
        testingtesting
        <p><img src="https://static.wikia.nocookie.net/starcraft/images/7/7e/1._Marine_Default.jpg/"></p>
        <p><img src="static/marauder.jpg" width="300"></p>
        <p>&#60;</p>
    </body>
</html>